[submodule "BehindTheScenes"]
	path = external/BehindTheScenes
	url = git@github.com:a-gn/BehindTheScenes.git
[submodule "external/nerf"]
	path = external/nerf
	url = git@github.com:bmild/nerf.git
[submodule "external/nerf-pytorch"]
	path = external/nerf-pytorch
	url = git@github.com:yenchenlin/nerf-pytorch.git
[submodule "external/ml-diffucoder"]
	path = external/ml-diffucoder
	url = git@github.com:apple/ml-diffucoder.git
